<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" formControlName="name" name="name" id="recipeName" class="form-control" placeholder="Enter recipe name">
            </div>
            <div class="form-group">
              <label for="img">Image</label>
              <input type="text" #imgPath name="recipeImage" formControlName="imgpath" id="recipeImage" class="form-control" placeholder="Enter recipe image path" >
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img [src]="imgPath.value" class="img-responsive ml-3 mb-3" style="height: 200px;">
                </div>
            </div>
            <div class="form-group">
              <label for="desc">Description</label>
              <textarea type="text" name="desc" id="desc" rows="6" formControlName="desc" class="form-control" placeholder="Enter the description of recipe"></textarea>
            </div>
            <div class="row mx-2">
                <div class="col-xs-12" formArrayName='ingr'>
                    <div class="row" 
                    *ngFor="let recipcltr of recipeForm.get('ingr')['controls']; let i = index" 
                    [formGroup]="recipcltr">
                        <div class="col-xs-6 mx-1">
                            <div class="form-group">
                              <input type="text" name="ingriName" id="ingriName" class="form-control" formControlName="name" placeholder="Enter ingerident name" >
                            </div>
                        </div>
                        <div class="col-xs-2 mx-1">
                            <div class="form-group">
                              <input type="number" name="ingrAmount" id="ingrAmount" class="form-control" formControlName="amount" placeholder="Enter amount" >
                            </div>
                        </div>
                        <div class="col-xs-2 mx-1">
                            <button name="cancel" id="cancel" class="btn btn-danger p-x-2" (click)="onDeleteIngerident(i)" type="button">X</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-success px-5 mx-2 mb-2" type="button" (click)="addNewIngrident()">Add Ingerident</button>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-success px-5 mx-3" [disabled]="!recipeForm.valid"  type="submit">Save</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-danger px-5 mx-2" (click)="onCancel()" type="button">Cancel</button>
                </div>
            </div>
            
        </form>
    </div>
</div>